################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.tlog
*.ilk
*.pdb
*.obj
*.suo
*.db
*.opendb
*.pch
*.idb
/Debug
/.vs
